.navBtn{
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 10%;
}

.newColorBlue{
  background-color:#2F43F8;
}

.auth-card{
  padding: 20px;
  text-align:center;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 2.5%;
  margin-top: 40px;
}

.profile-card{
  padding: 20px;
  text-align:center;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 2.5%;
  margin-top: 10px;
}
